* {
    margin: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    /* border: red 1px solid; */
}

.img {
    position: relative;
    height: auto;
}
  
.img::before {
    content: "";
    background-image: url('gedung.JPG');
    height: 100%; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    filter: 
        brightness(35%)
        blur(0px)
        saturate(1)
    ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
  
.img .content {
    position: relative;
    z-index: 2;
    text-align: center;
}

nav {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.281) 0%, rgba(255,255,255,0) 100%);
    transition: all 0.3s ease-in-out;
}

nav.sticky {
    background-color: #ffffff !important;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(255,255,255,0) 100%);
    /* padding: 1px 2px 1px 2px !important; */
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 0 5px rgba(209, 209, 209, 0.466);
}

.sticky .nav-link,
.sticky .fw-bold,
.sticky .fa-solid {
    color: rgb(68, 68, 68) !important;
}

.text-heading {
    font-size: 700%;
}

.judul-two {
    margin-left: 80px;
}

.heading-about {
    font-size: 45px;
}

.mobile-gallery {
    display: none !important;
}

.dekstop-gallery {
    display: contents;
}

.limit-title {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.limit-title:hover {
    -webkit-line-clamp: unset;
    overflow: visible;
}

.limit-about {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.limit-about:hover {
    -webkit-line-clamp: unset;
    overflow: visible;
}

.img-video {
    background-image: url(gedung.JPG);
    background-size: cover;
    background-position: center;
    height: 600px;
    filter: 
        brightness(80%)
        contrast(100%)
        grayscale(100%)
    ;
    transition: all 0.3s ease-in-out;
}

.img-video:hover {
    filter: 
        brightness(80%)
        contrast(100%)
        grayscale(50%)
    ;
}

.text-sosmed {
    font-size: 17px !important;
}

@media screen and (max-width: 1040px) {
    .mobile-gallery {
        display: contents !important;
    }

    .dekstop-gallery {
        display: none !important;
    }

    .img-video {
        height: 470px !important;
    }
}

@media screen and (max-width: 960px) {
    .text-heading {
        font-size: 500%;
    }

    .judul-two {
        margin-left: 80px;
    }
}

@media screen and (max-width: 715px) {
    .text-heading {
        font-size: 400%;
    } 

    .text-lab {
        font-size: 18px;
    }

    .judul-two {
        margin-left: 80px;
    }

    .img-video {
        height: 370px !important;
    }
}

@media screen and (max-width: 595px) {
    .text-heading {
        font-size: 300%;
    }

    .heading-about {
        font-size: 35px;
    }

    .heading-about-two {
        font-size: 25px;
    }

    .img-video {
        height: 270px !important;
    }

    /* nav {
        display: none !important;
    } */
}

@media screen and (max-width: 470px) {
    .text-heading {
        font-size: 255%;
    }

    .text-lab {
        font-size: 16px;
    }

    .judul-two {
        margin-left: 60px;
    }

    .heading-about {
        font-size: 25px;
    }

    .heading-about-two {
        font-size: 20px;
    }

    .img-video {
        height: 190px !important;
    }

    .text-sosmed {
        font-size: 14px !important;
    }
}

@media screen and (max-width: 395px) {
    .text-heading {
        font-size: 255%;
    }

    .text-lab {
        font-size: 14px;
    }

    .judul-two {
        margin-left: 40px;
    }

    .text-sosmed {
        font-size: 12px !important;
    }
}

.card-one {
    padding-top: 180px;
}

.card-two {
    padding-top: 80px;
}

.text-about {
    text-align: justify;
    text-justify: inter-word;
    font-size: 17px;
}

@media screen and (max-width: 990px) {
    .text-about {
        text-align: start;
        text-justify: inter-word;
        font-size: 17px;
    }
}

.img-lab {
    background-size: cover;
    background-position: center;
    height: 500px;
    filter: 
        brightness(80%)
        blur(0px)
        saturate(1)
        contrast(110%)
        grayscale(100%)
    ;
    transition: all 0.3s ease-in-out;

}

.img-lab:hover {
    filter: 
        brightness(80%)
        blur(0px)
        saturate(1)
        contrast(110%)
    ;
}

.img-text {
    min-height: 500px;
}

.img-gamed {
    background-image: url('gamed.JPG');
}

.img-jarkom {
    background-image: url('jarkom.JPG');
}

.img-algo {
    background-image: url('algo.JPG');
}

.img-kompu {
    background-image: url('kompu.JPG');
}

.img-sc {
    background-image: url('sc.JPG');
}

.img-rpl {
    background-image: url('rpl.JPG');
}

.img-rbc {
    background-image: url('rbc.JPG');
}


.icon-hover {
    font-size: 50px;
    transition: all 0.2s ease-in-out;
}

.icon-hover:hover {
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;
}
